absl-py==0.15.0
aiodns==3.0.0
aiofile==3.7.4
aiohttp==3.8.3
aiosignal==1.2.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.7
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
autopep8==2.0.2
awscrt==0.13.8
backcall==0.2.0
bleach==4.1.0
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cachetools==4.2.4
caio==0.9.8
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
coverage==6.2
cycler==0.11.0
dataclasses==0.8
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docopt==0.6.2
entrypoints==0.4
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
frozenlist==1.2.0
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.3
grpcio==1.44.0
h5py==3.1.0
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
iniconfig==1.1.1
install==1.3.5
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipython-sql==0.4.1
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.7.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.7.0
mistune==0.8.4
multidict==5.2.0
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipreqs==0.4.11
platformdirs==2.4.0
pluggy==1.0.0
prettytable==0.7.2
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.2.2
pycodestyle==2.10.0
pycparser==2.21
Pygments==2.11.2
PyJWT==2.4.0
pylint==2.13.9
PyMySQL==1.0.2
pyparsing==3.0.7
pyrsistent==0.18.0
pytest==7.0.1
python-dateutil==2.8.2
pytz==2022.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.8.0
six==1.15.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
stream-chat==3.17.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tomli==1.2.3
tornado==6.1
traitlets==4.3.3
typed-ast==1.5.4
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.2
wrapt==1.12.1
yarg==0.1.9
yarl==1.7.2
zipp==3.6.0
